* {
  box-sizing:border-box;
}
/*body, div, section, header, nav{
    border-style: solid;
  border-color: red;
    
}
div {
    border-style: solid;
  border-color: green;
}

section {
    border-style: solid;
  border-color: palevioletred;
}*/
html {
  height: 100%;
}
body {
  min-height: 100%;
}

body { 
  background: -webkit-linear-gradient(rgb(175, 175, 252), white, rgb(175, 175, 252));
  margin: 0;
    font-family: Poppins-Regular, sans-serif;
}
main {
  overflow: auto;
}
#top-text {
  background-color: rgb(175, 175, 252);
}
#top-text p {
padding: 10px;
margin: 0;
}
#top-content-text p, #bottom-content-text p{
  font-size: 30px;
  text-align: center;
  margin: 3%
}
#bottom-content-text p {
  padding-top: 2%;
}
.im {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#choices {
  width: 100%;
  height: 200px;

}
.inner-choice {
  width: 20%;
  height: 75%;
  text-align: center;
  float: left;
  margin: 2%;
}
.inner-choice a h3 {
  margin: 2px;
}

@media screen and (max-width:500px) {
  #top-content-text p, #bottom-content-text p{
    font-size: medium;
  }
  #choices {
    height: max-content;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 5%;
  }
  .inner-choice {
    width: 40%;
    margin: 2%;
  }
}
